@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  background-color:#01044a;
  color: white;
}

.max{
  max-width: 1200px;
  margin: 25px auto;
}
p{
  color: #8082c8;
  font-size: 12px;
}
h1{
  font-weight: bold;
  color: white;
}
.share{
  display: flex;
  margin-top:50px;
  gap: 50px;
}